:root {
  --primary-color: #48cae4;
  --secondary-color: #caf0f8;
  --third-color: #f5f5f5;
  --text-color-primary: #111;
  --text-color-secondary: #fff;
  --text-font-family-primary: "Titillium Web", sans-serif;
  --text-font-family-default: "Poppins", sans-serif;
  --border: 4px solid var(--primary-color);
  --border-radius: 10px;
  --transition: all ease-in-out 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--text-font-family-default);
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

.logo-container {
  height: 100%;
  width: 15%;
}

.logo-container img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--third-color);
}

nav ul {
  display: flex;
  gap: 1rem;
}

.container-padding {
  padding: 0 2rem;
}

.hero-section {
  color: var(--text-color-secondary);
  background-image: url("./images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* max-height: 85vh; */
  text-align: center;
  padding: 5% 10%;
}

.hero-section__title {
  font-size: 8rem;
}

.hero-section span {
  color: var(--primary-color);
}

.button-container {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 700;
  transition: var(--transition);
}

.primary-button,
.secondary-button:hover {
  background-color: var(--primary-color);
  color: var(--text-color-primary);
}

.secondary-button,
.primary-button:hover {
  background-color: transparent;
  color: var(--text-color-secondary);
}

.hero-section__description {
  font-size: 2.25rem;
  width: 81.4%;
  margin: 0 auto;
}

.large-screen-display-none {
  display: none;
}

@media screen and (max-width: 1024px) {
  .logo-container {
    width: 25%;
  }
  nav ul {
    display: none;
  }
  .large-screen-display-none {
    display: block;
  }

  html {
    font-size: 6px;
  }
  .button-container {
    flex-direction: column;
  }

  .button-container button {
    font-size: 3rem;
  }
}

@media screen and (max-width: 415px) {
  .logo-container {
    width: 45%;
  }
}
